/*__ ContactCard CSS Start __*/
.contact_card {
    padding: 15px 0;
    position: relative;
}
.contact_card_row {
    display: flex;
    align-items: center;
}

.contact_info {
    margin-left: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efeeee;
    min-width: 40%;
    padding-bottom: 10px;
}
.contact_info span {
    display: block;
}
.contact_detail {
    padding-left: 7px;
}
.contact_name {
    font-weight: 600;
}
.contact_number {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
}
.contact_avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}
.contact_avatar img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.contact_tags {
    margin-left: auto;
}
.contact_tags .btn {
    margin-left: 10px;
}
/*__ ContactCard CSS End __*/